<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
                            <!-- Классы -->
    <class name="БазаДанных" file="src/Классы/БазаДанных.os"/>
    <class name="Документ" file="src/Классы/Документ.os"/>
    <class name="Вложение" file="src/Классы/Вложение.os"/>
    <class name="КоннекторCouchDB" file="src/Классы/КоннекторCouchDB.os"/>
    <class name="СессияБД" file="src/internal/Классы/СессияБД.os"/>
</package-def>